.ab{
    width: 100%;
   
}

.ab .content{
    
    text-align:justify;
    padding: 2%;
    
}
.ab .image-about{
    
    
    text-align: center;
    padding: 2%;

}
.ab .image-about img{
    width: 80%;
    border-radius: 20px;

}
.ab h1{
    color: #070707;text-align: center;
    
}
.ab h1:hover{
    text-decoration: underline;

}