.art{
    text-align: center;
}



img{
    width:35%;
}

.side-content-card {
    display: flex;
    flex-direction: row;
    
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 15%;
    width: 70%;
    height: 30vh;
    
  }
  
  .side-card-img {
   
    object-fit: cover;
  }
  
  .side-card-content {
    padding: 15px;
    flex: 1;
  }
  
  .side-card-content h3 {
    font-size: 1.2em;
    margin: 0 0 10px;
  }
  
  .side-card-content p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
  }
  
  .side-card-btn {
    display: inline-block;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
  }
  
  .side-card-btn:hover {
    background-color: #0056b3;
  }
  